## รายชื่อกลุ่ม ##

- นายกลวัชร เสถียรเสรีสุข  6210450016
- นายเกียรติกุล ทองอุดม    6210450032
- นานชาญวิทย์ สายสิญจน์  6210450521
- น.ส.ณัฎฐกานต์ อรสุนทร   6210451144
- น.ส.ธันวพร ธรรมเจริญพงศ์ 6210451225

In [2]:
import pandas as pd
import datetime as dt
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
fie = pd.read_csv("Family Income and Expenditure.csv")

## รายละเอียดข้อมูล ##

**คำอธิบายข้อมูล**
- เป็นการเก็บข้อมูลที่ได้จากการสำรวจรายได้และรายจ่ายของแต่ละครอบครัว ในฟิลิปปินส์ มีประมาณ 40,000 กว่าครัวเรือน

**แหล่งที่มาของข้อมูล**
- https://www.kaggle.com/grosvenpaul/family-income-and-expenditure

**เก็บรวบรวมโดย**
- Francis Paul Flores

**รายละเอียดคอลัมน์**
1. Total Household Income                                          - รายได้ทั้งหมดของแต่ละครัวเรือน **type(int)**
2. Region                                                                   - ภูมิภาคของแต่ละครัวเรือน **type(object)**
3. Total Food Expenditure                                            - รายจ่ายทั้งหมดที่ใช้กับอาหาร **type(int)**
4. Main Source of Income                                            - แหล่งรายได้หลัก **type(object)**
5. Agricultural Household indicator                                - ตัวบ่งชี้ครัวเรือนเกษตร **type(int)**
6. Bread and Cereals Expenditure                                 - รายจ่ายที่ใช้กับขนมปังและธัญพืช **type(int)**
7. Total Rice Expenditure                                             - รายจ่ายทั้งหมดที่ใช้กับข้าว**type(int)**
8. Meat Expenditure                                                    - รายจ่ายทั้งหมดที่ใช้กับเนื้อ **type(int)**
9. Total Fish and marine products Expenditure               - รายจ่ายทั้งหมดที่ใช้กับปลาและภลิตภัณฑ์ที่ทำจากทะเล **type(int)**
10. Fruit Expenditure                                                   - รายจ่ายที่ใช้กับผลไม้ **type(int)**
11. Vegetables Expenditure                                          - รายจ่ายที่ใช้กับผัก **type(int)**
12. Restaurant and hotels Expenditure                          - รายจ่ายที่ใช้กับร้านอาหารและโรงแรม **type(int)**
13. Alcoholic Beverages Expenditure                             - รายจ่ายที่ใช้กับเครื่องดื่มแอลกอฮอล์ **type(int)**
14. Tobacco Expenditure                                             - ค่าใช้จ่ายที่ใช้กับยาสูบ **type(int)**
15. Clothing, Footwear and Other Wear Expenditure       - รายจ่ายที่ใช้กับเสื้อผ้า รองเท้า และเครื่องแต่งกายอื่นๆ **type(int)**
16. Housing and water Expenditure                               - ค่าใช้จ่ายที่เกี่ยวกับค่าน้ำและค่าไฟ **type(int)**
17. Imputed House Rental Value                                   - ค่าเช่าบ้าน **type(int)**
18. Medical Care Expenditure                                        - รายจ่ายที่ใช้กับค่ารักษาพยาบาล **type(int)**
19. Transportation Expenditure                                     - รายจ่ายที่ใช้กับการเดินทาง **type(int)**
20. Communication Expenditure                                    - ค่าใช้จ่ายในการ่อสาร **type(int)**
21. Education Expenditure                                            - รายจ่ายที่ใช้กับการษึกษาเล่าเรียน **type(int)**
22. Miscellaneous Goods and Services Expenditure          - รายจ่ายที่ใช้กับสินค้าและบริการเบ็ดเตล็ด **type(int)**
23. Special Occasions Expenditure                                 - รายจ่ายที่ใช้ในโอกาสพิเศษ **type(int)**
24. Crop Farming and Gardening expenses                     - รายจ่ายที่ใช้กับการปลูกพืชและการทำสวน **type(int)**
25. Total Income from Entrepreneurial Acitivites              - รายได้รวมจากกิจกรรมผู้ประกอบการ **type(int)**
26. Household Head Sex                                               - เพศของหัวหน้าครั้วเรือน **type(object)**
27. Household Head Age                                               - อายุของหัวหน้าครัวเรือน **type(int)**
28. Household Head Marital Status                                 - สถานภาพการสมรสของหัวหน้าครัวเรือน **type(object)**
29. Household Head Highest Grade Completed                - การจบการศึกษาของหัวหน้าครัวเรือน **type(object)**
30. Household Head Job or Business Indicator                 - งานหรือธุรกิจของหัวหน้าครัวเรือน **type(object)**

In [3]:
fie.shape

(41544, 60)

In [4]:
fie.isna().sum()

Total Household Income                              0
Region                                              0
Total Food Expenditure                              0
Main Source of Income                               0
Agricultural Household indicator                    0
Bread and Cereals Expenditure                       0
Total Rice Expenditure                              0
Meat Expenditure                                    0
Total Fish and  marine products Expenditure         0
Fruit Expenditure                                   0
Vegetables Expenditure                              0
Restaurant and hotels Expenditure                   0
Alcoholic Beverages Expenditure                     0
Tobacco Expenditure                                 0
Clothing, Footwear and Other Wear Expenditure       0
Housing and water Expenditure                       0
Imputed House Rental Value                          0
Medical Care Expenditure                            0
Transportation Expenditure                          0
Communication Expenditure                           0
Education Expenditure                               0
Miscellaneous Goods and Services Expenditure        0
Special Occasions Expenditure                       0
Crop Farming and Gardening expenses                 0
Total Income from Entrepreneurial Acitivites        0
Household Head Sex                                  0
Household Head Age                                  0
Household Head Marital Status                       0
Household Head Highest Grade Completed              0
Household Head Job or Business Indicator            0
Household Head Occupation                        7536
Household Head Class of Worker                   7536
Type of Household                                   0
Total Number of Family members                      0
Members with age less than 5 year old               0
Members with age 5 - 17 years old                   0
Total number of family members employed             0
Type of Building/House                              0
Type of Roof                                        0
Type of Walls                                       0
House Floor Area                                    0
House Age                                           0
Number of bedrooms                                  0
Tenure Status                                       0
Toilet Facilities                                   0
Electricity                                         0
Main Source of Water Supply                         0
Number of Television                                0
Number of CD/VCD/DVD                                0
Number of Component/Stereo set                      0
Number of Refrigerator/Freezer                      0
Number of Washing Machine                           0
Number of Airconditioner                            0
Number of Car, Jeep, Van                            0
Number of Landline/wireless telephones              0
Number of Cellular phone                            0
Number of Personal Computer                         0
Number of Stove with Oven/Gas Range                 0
Number of Motorized Banca                           0
Number of Motorcycle/Tricycle                       0
dtype: int64

In [13]:
fie = fie.iloc[:,0:30]
fie

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Highest Grade Completed,Household Head Job or Business Indicator
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,...,36200,34056,7200,19370,44370,Female,49,Single,Teacher Training and Education Sciences Programs,With Job/Business
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,...,29300,9150,1500,0,0,Male,40,Married,Transport Services Programs,With Job/Business
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,...,425,6450,500,0,0,Male,39,Married,Grade 3,With Job/Business
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,...,300,3762,500,15580,15580,Male,52,Married,Elementary Graduate,With Job/Business
4,189322,CAR,94625,Wage/Salaries,0,34820,30167,18391,11309,1395,...,0,8472,1000,18887,75687,Male,65,Married,Elementary Graduate,With Job/Business
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,119773,XII - SOCCSKSARGEN,44875,Enterpreneurial Activities,1,23675,21542,1476,6120,1632,...,50,3978,2500,94120,94120,Male,42,Married,Elementary Graduate,With Job/Business
41540,137320,XII - SOCCSKSARGEN,31157,Enterpreneurial Activities,1,2691,1273,1886,4386,1840,...,1550,6090,1500,78270,78270,Male,49,Married,Elementary Graduate,With Job/Business
41541,133171,XII - SOCCSKSARGEN,45882,Enterpreneurial Activities,2,28646,27339,480,4796,1232,...,0,3570,500,54965,98545,Male,56,Married,Grade 1,With Job/Business
41542,129500,XII - SOCCSKSARGEN,81416,Enterpreneurial Activities,1,29996,26655,2359,17730,2923,...,5295,5760,1000,95785,107435,Male,34,Widowed,First Year High School,With Job/Business
41543,128598,XII - SOCCSKSARGEN,78195,Enterpreneurial Activities,1,43485,41205,1985,7735,2062,...,80,6060,2500,84247,105547,Male,86,Married,No Grade Completed,No Job/Business

In [ ]:
fie["Household Head Highest Grade Completed"].unique()